@define-color base #0b0e14;
@define-color surface #1a1b26;
@define-color text #a9b1d6;
@define-color accent1 #7aa2f7;
@define-color accent2 #bb9af7;
@define-color accent3 #9ece6a;
@define-color critical #f7768e;
@define-color border #404040;
