@import "colors.css";

* {
  font-family: "Lexend", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: none;
  text-shadow: none;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

#workspaces {
  margin-right: -8px;
}

#workspaces button {
  color: @text;
  background: transparent;
  margin-left: -4px;
  margin-right: -4px;
}

#workspaces button.active {
  color: @accent2;
}

#workspaces button.empty {
  color: rgba(205, 214, 244, 0.4);
}

#workspaces button:hover {
  color: @accent2;
}

tooltip {
  background: @surface;
  /* Dark background */
  border: 1px solid @border;
  border-radius: 4px;
}

tooltip label {
  color: white;
  padding: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#wireplumber,
#custom-power,
#workspaces,
#privacy,
#custom-media,
#tray {
  background-color: @base;
  padding: 0 8px;
  border: 1px solid @border;
  border-radius: 6px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#idle_inhibitor:hover,
#backlight:hover,
#wireplumber:hover,
#custom-power:hover,
#privacy:hover,
#custom-media:hover {
  border: 1px solid @foreground;
  transition: all 200ms ease-in;
}

#clock {
  color: @accent1;
}

#cpu {
  color: @accent2;
}

#memory {
  color: @accent3;
}

#pulseaudio {
  color: @accent1;
}

#network {
  color: @accent2;
}

#battery {
  color: @accent3;
}

#battery.critical:not(.charging) {
  color: @critical;
  animation-name: blink;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  margin-left: 10px;
}

#privacy {
  color: @accent3;
}

#custom-media {
  color: @accent3;
}


/* -------------------------------------------------------------------------
   Animations
   ------------------------------------------------------------------------- */
@keyframes blink {
  to {
    background-color: @critical;
    color: @base;
  }
}
