// Niri configuration for CachyOS
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki

include "./config/animation.kdl"
include "./config/environment.kdl"
include "./config/input.kdl"
include "./config/layout.kdl"
include "./config/mics.kdl"
include "./config/output.kdl"
include "./config/rules.kdl"
include "./config/startup.kdl"

// keybindings
include "./config/keybindins/keys.kdl"

